alias l='ls -laFh'
alias la='ls -lAfh'
alias ll='ls -l'

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias icat='kitty +kitten icat'
alias d='kitty +kitten diff'

alias get_idf='. $HOME/esp/esp-idf/export.sh'

alias flutter='export FLUTTER_ROOT="$(mise where flutter)"; flutter'