[user]
	name = Hannu Leinonen
	email = hleinone@gmail.com
	signingkey = 14842C9777E5A984
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
